body {
    margin: 0px;
    padding: 0px;

}

.container {
    display: flex;
    background-color: #EB2D2D;
    height: 100px;
    justify-content: space-between;
    align-items: center;


}

.logo {

    margin-left: 75px;
    margin-top: 20px;

}



.alogo2 {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}




nav a,
nav li {
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 85px;




}

.container2 {
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.lugar {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    background-color: #EB2D2D;
    color: white;
    border: 0px;
    border-radius: 5px;

}

.box1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 500px;
    margin-top: 50px;
}

.img {
    height: 350px;
    width: 330px;
}

.baner {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 275px;
    background-color: #EB2D2D;
    align-items: center;
}

.baner-img {
    height: 275px;
    width: 510px;
    object-fit: none;

}

.textobaner {
    font-family: 'Roboto Slab', serif;
    font-size: 85px;
    font-weight: bold;
    color: white;
    line-height: 85px;
 

}


.vantagem{

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;

}


.rodape{

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #EB2D2D;
    color: white;
    font-family:'Roboto Slab', serif;
    font-size: 80%;
    height: 100px;
    line-height: 5px;

    
}